@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: colors.$PRIMARY;

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;

    .searchFormContainer {
      display: flex;
      justify-content: center;
    }
  }

  .main {
    height: calc(100vh - 300px);
    background-color: #fefefe;
  }

  @include responsive.after(SD) {
    position: relative;
    display: flex;
    flex-direction: row;

    .main {
      height: 100vh;
      background-color: #fefefe;
    }

    .header {
      display: flex;
      width: 100%;
      height: 50px;
    }
  }
}
