@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.home {
  height: 100%;
  padding: 20px;
  overflow: scroll;
  background: colors.$BACKGROUNDHOME;

  .intoSection {
    width: 100%;
    height: 300px;
    text-align: center;

    h1 {
      margin: 5px;
      font-size: 2em;
      font-weight: 600;
    }

    h2 {
      margin: 5px;
      font-size: 1.8em;
    }

    h4 {
      margin: 5px;
      font-size: 1em;
      color: colors.$CARD_TEXT_SECONDARY;
    }
  }

  .chartSection {
    width: 100%;
    height: 600px;
  }
}
