$PRIMARY: #f4dc9c;
$SECONDE: #b0c48d;

$CARDCOLOR: #ffc3ad;

$BACKGROUND: #fefefe;
$BACKGROUND_YELLOW: #ffffd8;

$TEXT_PRIMARY: #333333;
$TEXT_SECONDARY: #676767;
$TEXT_HILIGHT: #ff801f;

$BORDER: #ededed;
$BORDER_BUTTON: #d4d4d4;

$CARD_TEXT_PRIMARY: #474747;
$CARD_TEXT_SECONDARY: #9e9e9e;

$INPUT_BG: #b0c48d;
$TEXT_WHITE: #fefefe;

$TEXT_H1: #2f4858;

$BACKGROUNDHOME: #ffcdb9;
$BACKGROUND_GRADIENT: linear-gradient(to top, #f4dc9c, #fad59e, #fecea2, #ffc8a7, #ffc3ad);

$BACKGROUNDTWO_GRADIENT: linear-gradient(to bottom, #ffd4b8, #fddfbc, #f9eac4, #f5f4cf, #f2fedc);

$SKEL_GRADIENT: linear-gradient(to right, #f2f2f2, #dddddd, #f2f2f2);
$SKEL_BACKGROUNT: #fefefe;
$SKEL_ITEM: #f2f2f2;
