$PRIMARY: #fc9340;

$BACKGROUND: #fefefe;
$BACKGROUND_YELLOW: #ffffd8;

$TEXT_PRIMARY: #333333;
$TEXT_SECONDARY: #676767;
$TEXT_HILIGHT: #ff801f;

$BORDER: #ededed;
$BORDER_BUTTON: #d4d4d4;
$BORDER_YELLOW: #fffea2;

$TAG_PRIMARY: #fee5e0;
$TAG_SECONDARY: #f2f2f2;

$CARD_TEXT_PRIMARY: #474747;
$CARD_TEXT_SECONDARY: #9e9e9e;
$INPUT_BG: #34c759;
$TEXT_WHITE: #fefefe;

$SKEL_GRADIENT: linear-gradient(to right, #f2f2f2, #dddddd, #f2f2f2);
$SKEL_BACKGROUNT: #fefefe;
$SKEL_ITEM: #f2f2f2;
