.maps {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  padding: 20px;

  .mapWrapper {
    width: 100%;
    padding: 56.25%;

    .map {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  // .roadViewWrapper {
  //   position: relative;
  //   width: 100%;
  //   height: 100%;

  //   .roadView {
  //     position: absolute;
  //     top: 10px;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }

  .mapMarker {
    width: 250px;
    text-align: center;

    a {
      all: unset;
      cursor: pointer;
    }
  }
}
