@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.gnbList {
  display: flex;
  color: colors.$TEXT_PRIMARY;

  li {
    + li {
      margin-left: 8px;
    }

    a {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px;
      font-weight: 600;
      color: colors.$TEXT_WHITE;
      border-radius: 10px;
      transition: 0.5s ease-in-out;
    }

    a:hover {
      color: colors.$TEXT_H1;
      opacity: 0.8;
      transition: 0.5s ease-in-out;
    }

    .isActive {
      position: relative;
      color: colors.$TEXT_H1;
      text-decoration: revert;
      transition: 0.5s ease-in-out;
    }
  }
}
